[submodule "3rd/coost"]
	path = 3rd/coost
	url = https://github.com/idealvin/coost
[submodule "3rd/nlohmann_json"]
	path = 3rd/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "3rd/s_task"]
	path = 3rd/s_task
	url = https://github.com/xhawk18/s_task
[submodule "3rd/libgo"]
	path = 3rd/libgo
	url = https://github.com/yyzybb537/libgo
[submodule "3rd/botan"]
	path = 3rd/botan
	url = https://github.com/randombit/botan
